{% extends "base.html" %}

{% block stylesheets %}

{% endblock %}


{% block content %}
<div class="jumbotron">
    <div class="container center-content">
        <h1>I - BISPP</h1>
        <div class="urls">
            <h5><a href="https://uim.fei.stuba.sk/predmet/i-bispp/">Webstránka</a></h5>
            <span class="mr-10 ml-10">|</span>
            <h5><a href="https://is.stuba.sk/auth/katalog/syllabus.pl?predmet=353772">Sylabus</a></h5>
        </div>
    </div>
    <div>CONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENT</div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}