{% extends "base.html" %}

{% block stylesheets %}
<style>
  .scoreboard-name {
      color: rgb(99, 192, 245);
      text-shadow: rgba(104, 182, 255, 0.15) 0px 0px 5px;
  }

  .scoreboard-symbol {
      margin: auto;
      height: 3em;
      filter: drop-shadow(0px 0px 3px white);
  }

  .scoreboard-belt {
      height: 1.5em;
      filter: drop-shadow(0px 0px 3px black);
  }

  .scoreboard-row-me {
      background-color: rgba(255,255,255,0.3) !important;
      border: 2px solid rgba(255,255,255,0.8);
  }

  .scoreboard-page {
      display: inline-block;
      padding: 0.5em 1em 0.5em 1em;
  }

  .scoreboard-page-unselected > a {
      color: gray;
  }

  .scoreboard-page-selected > a {
      font-weight: bold;
  }

  .mt-40 {
    margin-top: 40px;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .mb-50 {
    margin-bottom: 50px;
  }

  #page-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%
  }

  #scoreboard-overall-pages {
    width: fit-content;
    background: white;
    border-radius: 20px;
    margin-left: 10px;
  }

  .exo-font {
    font-family: 'Exo';
  }

  .center {
    text-align: center;
  }

  #top-category-wrapper {
    display: none;
  }

  #top-category-select {
    width: 30%;
  }
</style>
{% endblock %}


{% block content %}
<div class="jumbotron">
  <div class="container center-content">
    <h1>Scoreboard</h1>
  </div>
</div>
<div class="container">
  {% include "components/errors.html" %}

  <h2 class="row mt-40">Stats</h2>

  <div class="row">
    <p>
      <b>Hacking Now:</b> <code>{{ stats["active"] }}</code>
      <br>
      <b>Hackers:</b> <code>{{ stats["users"] }}</code>
      <br>
      <b>Teams:</b> <code>{{ stats["teams"] }}</code>
      <br>
      <b>Challenges:</b> <code>{{ stats["challenges"] }}</code>
      <br>
      <b>Solves:</b> <code>{{ stats["solves"] }}</code>
    </p>
  </div>

  <br>
  <div class="mt-20 mb-50">
    <h2 class="row">All Time Rankings</h2>

    <div class="scoreboard row mt-20">
      <div class="col-md-12 p-0">
        <table class="table table-striped">
          <thead>
            <tr>
              <td scope="col" class="col-md-1"><b>Rank</b></td>
              <td scope="col" class="col-md-1"></td>
              <td scope="col" class="col-md-8"><b>Hacker</b></td>
              <td scope="col" class="col-md-1"></td>
              <td scope="col" class="col-md-1"><b>Score</b></td>
            </tr>
          </thead>
          <tbody id="scoreboard-overall">
          </tbody>
        </table>
      </div>
      <div id="page-wrapper">
        <span class="exo-font">Page num.</span>
        <ul id="scoreboard-overall-pages" class="p-0">
        </ul>
      </div>
    </div>
  </div>

  {% include "core/user_scoreboard_graph.html" %}

  <h1 class="mt-40">Top in category</h1>
  <div class="mt-40 center">
    <select class="form-select" aria-label="Default select example" id="top-category-select">
      <option selected disabled>Select challenge category</option>
      {% for module in modules %}
        <option value={{ module.name }}>{{ module.name }}</option>    
      {% endfor %}
    </select>
  </div>
  
  <div class="scoreboard row" id="top-category-wrapper">
    <div class="col-md-12 p-0">
      <table class="table table-striped">
        <thead>
          <tr>
            <td scope="col" class="col-md-1"><b>Rank</b></td>
            <td scope="col" class="col-md-1"></td>
            <td scope="col" class="col-md-8"><b>Team</b></td>
            <td scope="col" class="col-md-1"></td>
            <td scope="col" class="col-md-1"><b>Score</b></td>
          </tr>
        </thead>
        <tbody id="top-category">
        </tbody>
      </table>
    </div>
    <div>
      <ul id="top-category-pages" class="p-0">
      </ul>
    </div>
  </div>


  </div>
  {% endblock %}

  {% block scripts %}
  <script defer src="{{ url_for('views.themes', path='js/dojo/scoreboard.js') }}"></script>
  {% endblock %}

