{% extends "base.html" %}

{% block stylesheets %}
<style>
  .scoreboard-name {
      color: rgb(99, 192, 245);
      text-shadow: rgba(104, 182, 255, 0.15) 0px 0px 5px;
  }

  .scoreboard-symbol {
      margin: auto;
      height: 3em;
      filter: drop-shadow(0px 0px 3px white);
  }

  .scoreboard-belt {
      height: 1.5em;
      filter: drop-shadow(0px 0px 3px black);
  }

  .scoreboard-row-me {
      background-color: rgba(255,255,255,0.3) !important;
      border: 2px solid rgba(255,255,255,0.8);
  }

  .scoreboard-page {
      display: inline-block;
      padding: 0.5em 1em 0.5em 1em;
  }

  .scoreboard-page-unselected > a {
      color: gray;
  }

  .scoreboard-page-selected > a {
      font-weight: bold;
  }

</style>
{% endblock %}


{% block content %}
<div class="jumbotron">
  <div class="container center-content">
    <h1>I - BISPP</h1>
    <div class="urls">
      <h5><a href="https://uim.fei.stuba.sk/predmet/i-bispp/">Webstránka</a></h5>
      <span class="mr-10 ml-10">|</span>
      <h5><a href="https://is.stuba.sk/auth/katalog/syllabus.pl?predmet=353772">Sylabus</a></h5>
    </div>
  </div>
</div>
<div class="container">
  {% include "components/errors.html" %}

  <h2 class="row">Stats</h2>

  <div class="row">
    <p>
      <b>Hacking Now:</b> <code>{{ stats["active"] }}</code>
      <br>
      <b>Hackers:</b> <code>{{ stats["users"] }}</code>
      <br>
      <b>Challenges:</b> <code>{{ stats["challenges"] }}</code>
      <br>
      <b>Solves:</b> <code>{{ stats["solves"] }}</code>
    </p>
  </div>

  <br>

  <h2 class="row">All Time Rankings</h2>

  <div class="scoreboard row">
    <div class="col-md-12 p-0">
      <table class="table table-striped">
  <thead>
    <tr>
      <td scope="col" class="col-md-1"><b>Rank</b></td>
            <td scope="col" class="col-md-1"></td>
      <td scope="col" class="col-md-8"><b>Hacker</b></td>
      <td scope="col" class="col-md-1"></td>
      <td scope="col" class="col-md-1"><b>Score</b></td>
    </tr>
  </thead>
  <tbody id="scoreboard-overall">
  </tbody>
      </table>
    </div>
    <div>
      <ul id="scoreboard-overall-pages" class="p-0">
      </ul>
    </div>
  </div>

  <br>

  <h2 class="row">Top Category</h2>

  <div class="scoreboard row">
    <div class="col-md-12 p-0">
      <table class="table table-striped">
  <thead>
    <tr>
      <td scope="col" class="col-md-1"><b>Rank</b></td>
            <td scope="col" class="col-md-1"></td>
      <td scope="col" class="col-md-8"><b>Hacker</b></td>
      <td scope="col" class="col-md-1"></td>
      <td scope="col" class="col-md-1"><b>Score</b></td>
    </tr>
  </thead>
  <tbody id="scoreboard-topCategory">
  </tbody>
      </table>
    </div>
  </div>

  <div id="score-graph"></div>
  <div id="scoreboard"></div>

</div>
{% endblock %}

<!-- {% block scripts %}
<script defer src="{{ url_for('views.themes', theme='admin', path='js/vendor.bundle.min.js') }}"></script>
<script defer src="{{ url_for('views.themes', theme='admin', path='js/components.min.js') }}"></script>
<script defer src="{{ url_for('views.themes', path='js/dojo/scoreboard.js') }}"></script>
<script defer src="{{ url_for('views.themes', theme='admin', path='js/graphs.min.js') }}"></script>
<script defer src="{{ url_for('views.themes', theme='admin', path='js/echarts.bundle.min.js') }}"></script>
{% endblock %} -->

<!-- <script defer src="{{ url_for('views.themes', path='vendor.bundle.min.js') }}"></script>
<script defer src="{{ url_for('views.themes', path='../static/js/dojo/core.min.js') }}"></script>
<script defer src="{{ url_for('views.themes', path='../static/js/dojo/components.min.js') }}"></script>
<script defer src="{{ url_for('views.themes', path='../static/js/dojo/statistics.min.js') }}"></script>
<script defer src="{{ url_for('views.themes', path='../static/js/dojo/echarts.bundle.min.js') }}"></script>
<script defer src="{{ url_for('views.themes', path='../static/js/dojo/graphs.min.js') }}"></script> -->

<!-- <script defer src="vendor.bundle.min.js"></script>
<script defer src="../static/js/dojo/core.min.js"></script>
<script defer src="../static/js/dojo/components.min.js"></script>
<script defer src="../static/js/dojo/scoreboard.min.js"></script> -->
<!-- <script defer src="../static/js/dojo/echarts.bundle.min.js"></script>
<script defer src="../static/js/dojo/graphs.min.js"></script>
<script defer src="../static/js/dojo/statistics.min.js"></script> -->
<!-- <script defer src="../../CTFd/CTFd/themes/core/assets/js/pages/scoreboard.js"></script> -->

<!-- <script defer src="../static/js/dojo/scoreboard.js"></script> -->

{% block scripts %}
<script defer src="{{ url_for('views.themes', path='js/dojo/scoreboard.js') }}"></script>
{% endblock %}

